html {
  font-size: 16px;
}

body{
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 400;
}

button, input, optgroup, select, textarea {
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 400;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.accordion-button:not(.collapsed) {
  font-weight: 700;
  background-color: white;
  box-shadow: none;
  color: #212529;
}

.accordion-button {
  font-size: 1.40rem;
  outline: none;
  padding: 1rem 0!important;
  color: #000000;
}
.accordion-item:not(:first-of-type) {
  border-top: 3px solid #000000;
}
.accordion-item {
  border: none;
  border-top: 3px solid #000000;
}

.accordion-item:first-of-type {
  border-radius: 0;
  border: 0;
}

.accordion-button:focus {
  border-color: transparent;
  box-shadow: none;
}
.accordion-button::after {
  background-image: url(../icons/arrow-down.svg);
  background-position: center;
}

.accordion-button:not(.collapsed)::after {
  background-image: url(../icons/arrow-down.svg);
  background-position: center;
  transform: rotate(-180deg);
}

.accordion-header span{
  max-width: 10.5rem;
}

@media (min-width: 390px){
  .accordion-header span{
    max-width: 12.5rem;
  }
}



.btn{
  background-color: transparent;
  border: none;
  color: #000000;
  font-weight: 700;
  padding: 1rem 0;
  font-size: 1.4rem;
  outline: none!important;
}

.btn2{
  background-color: transparent;
  border: 2px solid #000000;
  padding: 0.15rem 0.75rem;
  font-size: 1.2rem;
  min-width: 5.3rem;
}

.btn2.selected {
  background-color: #000000;
  color: #ffffff;
}


h1{
  font-weight: 700;
}