@{
    ViewBag.Title = "title";
}

<div class="row">
    <div class="col d-flex flex-column justify-content-center pt-5">
        <h2 class="text-center">Twoje wybrane eksponaty są drukowane</h2>
        <h2 class="text-center">Dziękuję za wizytę na wystawie!</h2>
    </div>
</div>

