@{
    ViewBag.Title = "title";
}

<div class="row">
    <div class="col d-flex flex-column justify-content-center pt-5">
        <h2 class="text-center">Twoj e-katalog został wysłany!</h2>
    </div>
</div>